body {
  background-color: #fdf9fd;
  font-family: "Space Mono", monospace;
}

h1 {
  font-size: 100px;
  line-height: 1;
  font-weight: 400;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

div {
  width: 55%;
  margin-top: 200px;
  margin-left: 80px;
}

span {
  text-shadow: 0 -6.2px #0303fc, 0 6.2px #fc0318;
}
